.advantages {
  position: relative;
  height: 704px;
}

.advantages .container {
  position: relative;
  height: 100%;
}

.advantages__title {
  position: absolute;
  left: 50%;
  top: 0;
  width: 590px;
  transform: translateX(-50%);
  text-align: center;
}

.advantages__grid {
  position: relative;
  height: 100%;
}

.advantages__grid .advantage-item:nth-child(1) {
  left: 0;
  top: 160px;
}

.advantages__grid .advantage-item:nth-child(2) {
  left: 407px;
  top: 160px;
}

.advantages__grid .advantage-item:nth-child(3) {
  left: 813px;
  top: 160px;
}

.advantages__grid .advantage-item:nth-child(4) {
  left: 203px;
  top: 392px;
}

.advantages__grid .advantage-item:nth-child(5) {
  left: 610px;
  top: 392px;
}

@media (max-width: $bp-mobile) {
  .advantages {
    height: 506px;
  }

  .advantages .container {
    width: 359px;
  }

  .advantages__title {
    width: 359px;
  }

  .advantages__grid {
    display: grid;
    grid-template-columns: repeat(2, 172px);
    justify-content: space-between;
    gap: 24px 16px;
    padding-top: 66px;
  }

  .advantages__grid .advantage-item:last-child {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
