@use "../../abstracts" as *;

.services {
  min-height: 76.25rem;
}

.services__title {
  max-width: 24rem;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(2, 24.1875rem);
  column-gap: 13.9375rem;
  row-gap: 6.25rem;
  align-items: start;
  margin-top: 3rem;
}

.service-card--primary {
  grid-column: 1;
}

.service-card--secondary {
  grid-column: 2;
  margin-top: 3rem;
}

.service-card--tertiary {
  grid-column: 1;
  margin-left: 12.6875rem;
}

.service-card--quaternary {
  grid-column: 2;
  margin-top: 3rem;
  margin-left: 12.6875rem;
}

@include mobile {
  .services {
    min-height: 119.125rem;
  }

  .services__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 3rem;
    margin-top: 3.625rem;
  }

  .service-card--primary,
  .service-card--secondary,
  .service-card--tertiary,
  .service-card--quaternary {
    grid-column: auto;
    margin: 0;
  }
}
