@use "../abstracts" as *;

.logo {
  --logo-width: 14.4375rem;
  --logo-height: 4.875rem;

  display: inline-block;
  flex: 0 0 auto;
  width: var(--logo-width);
  height: var(--logo-height);
  text-decoration: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.logo--footer {
  --logo-width: 17.8125rem;
  --logo-height: 6rem;
}

@include mobile {
  .logo--header {
    --logo-width: 10.75rem;
    --logo-height: 3.625rem;
  }

  .logo--footer {
    --logo-width: 11.5rem;
    --logo-height: 3.875rem;
  }
}
