@use "../abstracts" as *;

.service-card {
  position: relative;
  width: min(100%, 24.1875rem);
}

.service-card__media {
  width: 100%;
  aspect-ratio: 387 / 226;
  border-radius: $radius-md;
  object-fit: cover;
}

.service-card__icon {
  position: absolute;
  top: 11.125rem;
  right: -3rem;
  display: grid;
  place-items: center;
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: $color-white;
  box-shadow: 0 0 0 3.875rem rgba(74, 160, 222, 0.04), 0 0 0 0.75rem rgba(74, 160, 222, 0.08), $shadow-blue;

  img {
    width: 3.5rem;
    aspect-ratio: 1;
    object-fit: contain;
  }
}

.service-card__icon--container {
  right: auto;
  left: 8.125rem;
}

.service-card__title {
  width: min(100%, 15rem);
  margin-top: 1.5rem;
  color: $color-text;
  font-size: 1.5rem;
  line-height: 1.333;
}

.service-card__text {
  width: 100%;
  margin-top: 1rem;
  color: $color-text;
  font-size: 1rem;
  line-height: 1.375;
}

@include mobile {
  .service-card {
    width: 100%;
  }

  .service-card__icon {
    top: 11.125rem;
    right: 1rem;
    width: 5rem;
  }

  .service-card__icon--container {
    right: 1rem;
    left: auto;
  }

  .service-card__title {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .service-card__text {
    margin-top: 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
  }
}
